<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Locations :</h2>
<table>
<tr>
<th>Id</th>
<th>Code</th>
<th>Name</th>
<th>Type</th>
</tr>

<tr th:each="location:${locations}">
<td th:text="${location.id}"></td>
<td th:text="${location.code}"></td>
<td th:text="${location.name}"></td>
<td th:text="${location.type}"></td>
<td><a th:href="@{'showUpdate?id='+${location.id}}">Update</a></td>
<td><a th:href="@{'deleteLocation?id='+${location.id}}">Delete</a></td>
</tr>
</c:forEach>
</table>
<a href="showCreate">Add Location</a>
</body>
</html>